<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
</head>

<body>
  <ul layout:fragment="sideber" class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">アイテム1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">アイテム2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">アイテム3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">アイテム4</a>
    </li>
  </ul>
</body>

</html>